*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
    box-sizing: border-box;
}
header{
    background-color: red;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px gray;
}
h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}
#preview{
    display: none;
}
#downpreview{
    display: none;
}
canvas{
    border: 1px solid black;
}
.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.flex-child-left{
    background-color: white;
    flex: 0 0 30%;
    font-size: 16px;
}
.flex-child-right{
    background-color: white;
    flex:0 0 40%
}
fieldset{
    width: 500px;
    margin-bottom: 10px;
    padding: 10px;
}
legend{
    color: red;
}
input{
    margin-bottom: 10px;
}
input[type=button]{
    height: 30px;
    width: 247px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
}
.imag input[type=file]{
    width: 210px;
    color: red
}
.imag input[type=button]{
    width: 130px;
}
input[type=range]{
    background-color: red;
}
input[type=text]{
    height: 23px;
}
@media screen and (max-width: 1200px){
    .flex-container{
        flex-direction: column;
    }
}